* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    min-width: 118px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 17px 16px;
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.9;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* =================== Header ===================*/
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 8px;
}
.navbar ul {
    display: flex;
    margin-left: auto;
}

.navbar .list a {
    padding: 8px 21px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
}

.navbar .item a:hover,
.navbar .active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar .active a::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 2px;
    bottom: 6px;
    left: 22px;
    border-radius: 1px;
    background: #171100;
}

.header .action-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* =================== Hero ===================*/
.hero {
    background: #fffcf4;
    height: 806px;
    /* 64 - 8px */
    padding-top: 56px;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

/* Hero left */
.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .image {
    width: 470px;
    height: 685px;
    max-width: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.hero-summary {
    width: 270px;
    bottom: 48px;
    right: 0;
    position: absolute;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    padding: 28px 24px;
}

.hero .icon img {
    width: 24px;
    height: 24px;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 14px;
}

.hero-summary .item:nth-child(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-child(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero .label {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86; /* 185.714% */
}

.hero .titel {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

/* Hero left */
.hero .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .sub-title {
    width: 470px;
    height: 204px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17; /* 117.241% */
    letter-spacing: -1.16px;
}

.content-block .desc {
    margin: 22px 0;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    color: #5f5b53;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .cta-btn {
    min-width: 180px;
    background: var(--primary-color);
    padding: 24px 16px;
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fffcf4;
    margin-left: 28px;
    cursor: pointer;
}

.watch-video .icon img {
    width: 12;
    height: 12px;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67; /* 166.667% */
    margin-left: 14px;
}

.content-block .interact {
    margin: 48px 0 0 0;
}

.content-block .desc + .desc {
    margin: 8px 0 0 0;
}

.content-block .stats strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23; /* 122.727% */
    padding-right: 6px;
}

.content-block .desc strong:nth-child(2) {
    margin-left: 28px;
}
